html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: white;
}

    #play-screen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 95%;
        font-size: 2rem;
    }

        #card-grid {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 90%;
        }

        .card {
            display: block;
            width: 15%;
            height: 15%;
            margin: 0% 1%;
            border: solid black 3px;
            border-radius: 5%;
        }

    #initial-screen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 95%;
    }

        #initial-screen-title {
            font-size: 4rem;
        }

        #initial-screen-subtitle {
            font-size: 2.5rem;
        }

        .button {
            font-size: 4rem;
            margin: 1%;
            padding: 5%;  
            width: 50%;  
            border-radius: 10%;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
        }     

        #easy {
            background-color: lightgreen;
        }

        #normal {
            background-color: #e4eb1c;
        }

        #hard {
            background-color: #d92c21
            
        }
        
@media (max-width: 1024px) {
    #iframe-container {
        width: 560px;
        height: 560px;
    }

    html {
        font-size: 7px;
    }
}

@media (max-width: 768px) {
    #iframe-container {
        width: 420px;
        height: 420px;
    }
}

@media (max-width: 576px) {
    #iframe-container {
        width: 350px;
        height: 350px;
    }

    html {
        font-size: 6px;
    }
}

@media (max-width: 425px) {
    #iframe-container {
        width: 240px;
        height: 240px;
    }

    html {
        font-size: 4px;
    }
}